body {
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkred;
 
}

.container {
  width: 500px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.gameboard-container{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  justify-content: center;
  gap: 15px;
}

.gameSpace {
  border: 2px solid darkred;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.row1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.row2 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.row3 {
  grid-row-start: 3;
  grid-row-end: 4;
}

.col1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.col2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.col3 {
  grid-column-start: 3;
  grid-column-end: 4;
}